
.name {
    margin: 20% 0 0 12.5%;
    width: 75%;
}

h1, h3, p {
    color: azure;
    font-family: 'Red Rose', cursive;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.logo {
    width: 33%;
    height: 50%;
}

button {
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #b3b3b3;
    color: #404040;
}

a {
    text-decoration: none;
}

